<header>
  <h1>SQL Server 2012</h1>
  <p>Material con contenido general de Sql Server 2012</p>

  <p class="view"><a href="{{ site.url }}/content/"> <i class="fa fa-file-text-o"></i> Contenido <small>Detalle de contenido</small></a></p>
  <p class="view"><a href="{{ site.url }}/slides/"> <i class="fa fa-tv"></i> Presentación <small>Diapositivas con información general</small></a></p>
  <p class="view"><a href="https://github.com/migsalazar/sqlserver-course"> <i class="fa fa-code"></i> Código fuente <small>Ejemplos, ejercicios y github page </small></a></p>

</header>
